.optionView {
    display: flex;
    height: 40px;
    background-color: #F4F5FE;
    border-radius: 5px;
    overflow: none;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.cardFormPatientContainer {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    min-height: 220px;
    min-width: 400px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.cardFormPatient {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.title {
    font-weight: 600;
    margin: 25px 20px 10px 25px;
}

.fila {
    display: flex;
    flex-direction: row;
    gap : 15px;
}

.note {
    margin: 10px 25px 25px 25px;
}