.hospitalCardForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-hospital-form {
    overflow: hidden;
    width: 550px;
    height: 700px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(99, 98, 98, 0.25), 0 10px 10px rgba(99, 98, 98, 0.25);
    background-color: #e5e5e5;
}

h6 {
    margin-right: 10px;
}

input {
    border-radius: 10px;
    appearance: none;
    
}

input[type="number"] {
    -webkit-appearance: none;
    appearance: none;
}