.entityFormContainer {
    display: inline-block;
}

.RightSideComponent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.RightSideComponent:nth-child(0) {
    align-self: flex-end;
}

.rightSideContainer {
    margin: 30px
}

.searchBarContainer{
    display: flex;
    justify-content: flex-end;
    /* margin: 10px; */
}

.CreateEntityViewContainer {
    height: 100%;
    margin-bottom: 30px;
}
