:root{
    --main-color: #ffffff;
    --second-color: #F4F5FE;
    --third-color: #A8DFF1;
    --fourth-color: #3D7C98;
    --fifth-color: #d3d6f5;

    --main-hospital-color: #FFB7B7;
    --second-hospital-color: #ED461D;

    --main-centroSalud-color: #D4FFE5;
    --second-centroSalud-color: #2CBD66;

    --main-laboratorio-color: #97D6EA;
    --second-laboratorio-color: #1D9BED;
}

html {
    height: 100vh;
}

body{
    background-color: var(--main-color);
    height: 100%;
}

.root {
    height: 100%;
}

.input {
    border: none;
    width: 100%
}