.entityForm {
    display: inline-block;
    background-color: var(--main-color);
    border-radius: 15px;
    min-width: 400px;
}

.containerEntityForm {
    background-color: var(--main-color);
    margin: 40px;
}

h1.title {
    font-size: 23px;
}

.container-entity-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
}

.body-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;  
    margin-top: 15px;
}

.form-information{
    margin-top: 10px;
    margin:  0px 10px 0px 10px;
    width: 1fr;
}

.hospitalCardForm {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.containerHospitalCardForm {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-self: center;
    width: 550px;
    height: 700px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(99, 98, 98, 0.25), 0 10px 10px rgba(99, 98, 98, 0.25);
    background-color: #e5e5e5;
}

.container-hospital-form {
    overflow: hidden;
    background-color: #e5e5e5;
}

h6 {
    margin-right: 10px;
}

.submit-button {
    margin-top: 30px;
    align-self: center;
}

.input-EntityForm {
    background-color: var(--second-color);
}

input {
    border-radius: 10px;
    appearance: none;
    
}

input[type="number"] {
    -webkit-appearance: none;
    appearance: none;
}