.ReportContainer {
  max-height: 650px; /* Establece la altura máxima */
  overflow-y: auto; /* Habilita la barra de desplazamiento vertical si es necesario */
  min-height: 650px;
  max-width: 900px;
}