.register {
    display: flex;
    align-items: center;
    align-items: center;
    padding: 5px;
    gap: 35px;
    height: 50px;
    background: #FFFFFF;
    border-bottom: 0.1px solid #6d6d6d59;
}

.registerContainer {
    display: flex;
    flex-direction: row;        
    align-items: center;
    align-items: center;
    gap: 35px;
    margin-left: 15px;
}

.date{
    min-width: 100px;
}

.doctorName {
    min-width: 200px;
}

.specialist {
    min-width: 100px;
}

.EntityName {
    min-width: 300px;
}

.disease {
    min-width: 100px;
}