.create-info-card-view-container{
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 15px;
    height: 100%;
    width: 100%;
}

.treatments-view-scroll {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    gap: 15px;
    width: 100%;
}